/* Universal Styling */
*, *::before, *::after {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 40px;
    color: white;
    
}

body {
    
    background-image: url(images/hellokitty.jpeg);
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
}

.counter {
    display: flex;
    font-size: 2em;
    color: blue;
    grid-area: 1 / 3 / 2 /3;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    
    
}

.comp_counter {
    display: flex;
    font-size: 2em;
    color: rgb(255, 0, 0);
    grid-area: 1 / 5 / 2 /5;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    
}

.choose_container {
    /* width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center; */

    display: grid;
    grid-template-columns: 14.2vw 14.2vw 14.2vw 14.2vw 14.2vw 14.2vw 14.2vw;
    grid-template-rows: 13vw 13vw 13vw 13vw;

    
}

.scissor {
    cursor: pointer;
    grid-area: 3 / 5 / 3 /5;
}

.rock {
    cursor: pointer;
    grid-area: 3 / 3 / 3 /3;
}

.rock:hover {
    transform: scale(1.1);
}
.paper:hover {
    transform: scale(1.1);
}
.scissor:hover {
    transform: scale(1.1);
}

.paper {
    cursor: pointer;
    grid-area: 3 / 4 / 3 /4;
    
}

.decision {
    grid-area: 2 / 4 / 2 /4;
    text-align: center;
    justify-content: center;
    margin-top: 2em;
}



#counter_border {
    grid-area: 1 / 3 / 2 /3;
    
    
}

#comp_border {
    grid-area: 1 / 5 / 2 /5;
}

.reset {
    display: inline-block;
    outline: 0;
    cursor: pointer;
    border-radius: 6px;
    border: 2px solid #ff4742;
    color: #ff4742;
    background: 0 0;
    padding: 8px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 2px 4px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1.5px 0px;
    font-weight: 800;
    font-size: 16px;
    height: 42px;
    margin-top: 6em;
    grid-area: 1 / 4 / 2 /4;
    
}

.reset:hover {
    background-color: #ff4742;
    color: #fff;
}